## Basics & DQL

**001.** What does DQL stand for in SQL?

**002.** Which SQL command is used to display all records from a table?

**003.** How do you display only specific columns from a table?

**004.** Which SQL clause is used to filter rows based on a condition?

**005.** How can you sort query results in ascending or descending order?

**006.** Which clause is used to remove duplicate values from the output?

**007.** Write a query to display all records from the EMP table.

**008.** How do you show only the ENAME and SAL columns from the EMP table?

**009.** Which query will display the unique job roles available in the EMP table?

**010.** Write a query to list employees in the SALES department.

**011.** What is the purpose of the DUAL table in Oracle?

**012.** Write a query using DUAL to display system date.

**013.** What is the difference between DISTINCT and UNIQUE?

**014.** What is the use of the LIKE operator?

**015.** Write a query to display employees whose name starts with 'M'.

**016.** Write a query to list employees hired in 1981.

## DDL (Data Definition Language)

**017.** What does DDL stand for in SQL?

**018.** Which command is used to create a new table?

**019.** Write a query to create the DEPT table with DEPTNO as primary key.

**020.** Write a query to create the EMP table with EMPNO as primary key.

**021.** Why does CREATE TABLE ... AS SELECT (CTAS) not copy constraints?

**022.** Which command is used to delete a table completely from the database?

**023.** What is the difference between DROP and TRUNCATE commands?

**024.** What is the difference between TRUNCATE and DELETE?

**025.** Which command is used to modify a column datatype?

**026.** Which command is used to rename a column in Oracle?

**027.** Which command is used to drop a column in Oracle?

**028.** What is the purpose of the DESC command in SQL*Plus?

## DML (Data Manipulation Language)

**029.** What does DML stand for in SQL?

**030.** Which command is used to insert new rows into a table?

**031.** Write a query to insert a new department into the DEPT table.

**032.** Write a query to insert a new employee into the EMP table.

**033.** Which command is used to update existing records in a table?

**034.** Write a query to update salary of employee KING to 6000.

**035.** Which command is used to remove specific rows from a table?

**036.** Write a query to delete employees whose commission is NULL.

**037.** What is the difference between DELETE and TRUNCATE?

**038.** What happens if you donâ€™t provide a WHERE clause in DELETE?

## Constraints

**039.** What is a constraint in SQL?

**040.** Which constraint ensures a column cannot be NULL?

**041.** Which constraint enforces entity integrity in a table?

**042.** Which constraint enforces referential integrity between two tables?

**043.** What is the difference between PRIMARY KEY and UNIQUE?

**044.** Can a table have more than one PRIMARY KEY?

**045.** Can a table have more than one UNIQUE key?

**046.** What does the CHECK constraint do?

**047.** What is the purpose of the DEFAULT constraint?

**048.** Write a query to create DEPT table with NOT NULL on DNAME and LOC.

**049.** Write a query to create EMP table with CHECK on SAL > 0.

## Functions: Number

**050.** What does the ABS function do in Oracle?

**051.** Which function is used to get the remainder of a division?

**052.** What is the difference between ROUND and TRUNC?

**053.** Write a query to round 1.23456 to 3 decimal places.

**054.** Write a query to truncate 1.23456 to 3 decimal places.

**055.** Which function returns the highest value among columns?

**056.** What is the purpose of the CEIL and FLOOR functions?

**057.** Which function is used to calculate power of a number?

**058.** What is the use of the SQRT function?

**059.** What does the EXP function return?

## Functions: String

**060.** Which function converts characters to uppercase?

**061.** Which function converts characters to lowercase?

**062.** Which function capitalizes the first letter of each word?

**063.** What does the LENGTH function return?

**064.** Write a query to display employees with name length = 5.

**065.** How do you extract a part of a string in Oracle?

**066.** Which function finds the position of a substring inside a string?

**067.** What is the difference between LPAD and RPAD?

**068.** What is the purpose of LTRIM, RTRIM, and TRIM?

**069.** Which function replaces part of a string with another string?

## Functions: Date

**070.** What does the SYSDATE function return?

**071.** Which function is used to format dates into strings?

**072.** Write a query to display current date in DD/MM/YY format.

**073.** What is the difference between SYSDATE and SYSTIMESTAMP?

**074.** How do you convert a string to a date in Oracle?

**075.** What is the use of the ADD_MONTHS function?

**076.** Which function returns the last day of the month?

**077.** How do you calculate the number of months between two dates?

**078.** What is the purpose of the NEXT_DAY function?

## Functions: Conversion

**079.** What is the use of the TO_CHAR function in Oracle?

**080.** Write a query to convert SYSDATE into 'YYYY-MM-DD' format using TO_CHAR.

**081.** What is the use of the TO_DATE function in Oracle?

**082.** Write a query to convert string '24-SEP-25' into DATE using TO_DATE.

**083.** What is the use of the TO_NUMBER function in Oracle?

**084.** What is the difference between CAST and CONVERT in Oracle?

## Functions: Aggregate

**085.** What does the MAX aggregate function return?

**086.** Which aggregate function is used to calculate total salary?

**087.** What is the difference between COUNT(*) and COUNT(column)?

**088.** How do you count distinct values in a column?

**089.** Why is it important to use NVL in aggregate queries?

**090.** Write a query to display count of employees in each department.

**091.** Write a query to display minimum and maximum salary for each department.

**092.** Write a query to display count of employees in each job role.

**093.** What is the difference between WHERE and HAVING clause?

**094.** Which clause is executed first: GROUP BY or HAVING?

## Joins & Subqueries

**095.** What is an equijoin?

**096.** What is a non-equijoin?

**097.** What is a Cartesian join?

**098.** Why are self-joins used in hierarchical queries?

**099.** What is the difference between INNER JOIN and OUTER JOIN?

**100.** What is the difference between LEFT OUTER JOIN and RIGHT OUTER JOIN?

**101.** What is a FULL OUTER JOIN?

**102.** Write a query to join EMP and DEPT to display employee name and department name.

**103.** Write a query to find employees who earn more than the average salary of their department.

**104.** Write a query to list employees who joined in the same month as their manager.

**105.** What is a correlated subquery?

## DCL (Data Control Language)

**106.** What does DCL stand for in SQL?

**107.** Which command is used to grant privileges to a user?

**108.** Which command is used to revoke privileges from a user?

**109.** Write a query to grant CREATE TABLE privilege to USER1.

**110.** Write a query to revoke CREATE SESSION privilege from USER1.

**111.** What is the difference between GRANT and REVOKE?

## TCL (Transaction Control Language)

**112.** What does TCL stand for in SQL?

**113.** Which command is used to save a transaction permanently?

**114.** Which command is used to undo changes in the current transaction?

**115.** Which command is used to undo all changes since the last COMMIT?

**116.** Write a query to demonstrate COMMIT after inserting rows into DEPT table.

**117.** Write a query to demonstrate ROLLBACK after deleting rows from EMP table.