### Revisiting Tuples
A tuple is an ordered, immutable collection of elements. They are often used to store multiple values together and cannot be modified after creation.

In [ ]:
t1 = (10, 20, 30, 40)
print(t1)
print(type(t1))


t2 = 1, 2, 3, 4
print(t2)
print(type(t2))

### Single-Element Tuples
To create a single-element tuple, a trailing comma is required. Without the comma, Python treats it as a regular value inside parentheses.

In [ ]:
t3 = (10)
print(t3)
print(type(t3))


t4 = (10,)
print(t4)
print(type(t4))

### Converting a List to a Tuple
The `tuple()` constructor converts a list into a tuple. Tuples support indexing, but attempting to assign values or access out-of-range indices raises errors.

In [ ]:
l1 = [1, 2, 3]
t5 = tuple(l1)
print(t5)
print(type(t5))
print(t5[0])
print(t5[-1])

# Uncommenting below will raise IndexError
# print(t5[100])

# Uncommenting below will raise TypeError
# t5[0] = 999

### Tuple Operations
Tuples support concatenation, repetition, length, and built-in functions like `count`, `index`, `sorted`, `min`, and `max`.

In [ ]:
print('t2', t2)
print('t5', t5)

# Concatenation
t6 = t2 + t5
print('t6', t6)

# Repetition
t7 = t6 * 2
print('t7', t7)

print('Length of t7', len(t7))
print(t7.count(1))  # number of occurrences
print(t7.index(1))  # first occurrence

print(sorted(t7))  # sort elements
print(sorted(t7, reverse=True))  # reverse order

print(min(t7))
print(max(t7))

### Tuple Packing and Unpacking
- **Packing**: Assigning multiple values to a single tuple.
- **Unpacking**: Assigning elements of a tuple to multiple variables.

In [ ]:
a = 10; b = 20; c = 30; d = 40
t8 = a, b, c, d
print(t8)
print(type(t8))

# Unpacking
p, q, r, s = t8
print("p=", p, "q=", q, "r=", r, "s=", s)

### Key Takeaways
- Tuples are immutable and ordered collections.
- Single-element tuples require a trailing comma.
- Tuples support concatenation, repetition, and several built-in functions.
- Packing and unpacking allow grouping and ungrouping multiple values easily.