#### Oracle SQL Practice

You will:
1. Create tables
2. Insert sample data
3. Solve practice queries

##### 1. DDL Statements (Run these first)

In [ ]:
-- Create table for Manufacturers
CREATE TABLE Manufacturers (
    Code NUMBER PRIMARY KEY,
    Name VARCHAR2(255) NOT NULL
);

-- Create table for Products
CREATE TABLE Products (
    Code NUMBER PRIMARY KEY,
    Name VARCHAR2(255) NOT NULL,
    Price NUMBER(10,2) NOT NULL, 
    Manufacturer NUMBER NOT NULL,
    CONSTRAINT fk_manufacturer FOREIGN KEY (Manufacturer) REFERENCES Manufacturers(Code)
);

##### 2. Insert Sample Data

In [ ]:
INSERT INTO Manufacturers(Code, Name) VALUES (1, 'Apple India');
INSERT INTO Manufacturers(Code, Name) VALUES (2, 'Samsung Electronics');
INSERT INTO Manufacturers(Code, Name) VALUES (3, 'Dell Technologies');
INSERT INTO Manufacturers(Code, Name) VALUES (4, 'HP Inc.');
INSERT INTO Manufacturers(Code, Name) VALUES (5, 'Xiaomi India');
INSERT INTO Manufacturers(Code, Name) VALUES (6, 'OnePlus');

INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (1, 'iPhone 16 Pro Max', 149000, 1);
INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (2, 'Galaxy Z Fold 7', 160000, 2);
INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (3, 'Dell XPS 17 Laptop', 210000, 3);
INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (4, 'HP Smart Tank Printer', 18000, 4);
INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (5, 'Xiaomi Smart TV 65"', 70000, 5);
INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (6, 'OnePlus Pad Pro', 48000, 6);
INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (7, 'Galaxy Watch Ultra', 65000, 2);
INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (8, 'Apple Vision Pro (India)', 299000, 1);
INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (9, 'Dell Ultrasharp Monitor', 95000, 3);
INSERT INTO Products(Code, Name, Price, Manufacturer) VALUES (10, 'OnePlus Buds Pro 3', 15000, 6);

##### 3. Practice Questions (Write SQL Queries Below Each Question)

**1.1 Select the names of all the products in the store.**

**1.2 Select the names and the prices of all the products in the store.**

**1.3 Select the name of the products with a price less than or equal to ₹20,000.**

**1.4 Select all the products with a price between ₹15,000 and ₹70,000.**

**1.5 Select the name and price in paise.**

**1.6 Compute the average price of all the products.**

**1.7 Compute the average price of all products with manufacturer code equal to 2 (Samsung Electronics).**

**1.8 Compute the number of products with a price larger than or equal to ₹1,00,000.**

**1.9 Select the name and price of all products with a price larger than or equal to ₹1,00,000, and sort first by price (in descending order), and then by name (in ascending order).**

**1.10 Select all the data from the products, including all the data for each product's manufacturer.**

**1.11 Select the product name, price, and manufacturer name of all the products.**

**1.12 Select the average price of each manufacturer's products, showing only the manufacturer's code.**