# SQL CRUD Operations
This notebook demonstrates **CRUD operations**

- CREATE (Insert)
- READ (Select, WHERE, DISTINCT)
- UPDATE
- DELETE
- ROLLBACK

CRUD = Create, Read, Update, Delete. These are **DML (Data Manipulation Language)** operations

## 1) CREATE — INSERT

In [ ]:
CREATE TABLE CUSTOMERS_CRUD (
    CustomerID NUMBER PRIMARY KEY,
    CustomerName VARCHAR2(50),
    City VARCHAR2(50),
    Status VARCHAR2(20)
);

In [ ]:
DESC CUSTOMERS_CRUD;

In [ ]:
INSERT ALL
  INTO CUSTOMERS_CRUD VALUES (1, 'Arjun Sharma', 'Bengaluru', 'Active')
  INTO CUSTOMERS_CRUD VALUES (2, 'Priya Nair', 'Chennai', 'Active')
  INTO CUSTOMERS_CRUD VALUES (3, 'Ramesh Iyer', 'Hyderabad', 'Inactive')
  INTO CUSTOMERS_CRUD VALUES (4, 'Kavita Desai', 'Mumbai', 'Active')
  INTO CUSTOMERS_CRUD VALUES (5, 'Meena Joshi', 'Pune', 'Inactive')
SELECT * FROM dual;

In [ ]:
SELECT * FROM CUSTOMERS_CRUD;

## 2) READ — SELECT

In [ ]:
SELECT * FROM CUSTOMERS_CRUD; -- All rows and columns

In [ ]:
SELECT CustomerName, City FROM CUSTOMERS_CRUD; -- Specific columns

In [ ]:
SELECT DISTINCT City FROM CUSTOMERS_CRUD; -- Unique values only

In [ ]:
SELECT * FROM CUSTOMERS_CRUD WHERE City='Chennai'; -- Filter with WHERE

In [ ]:
SELECT * FROM CUSTOMERS_CRUD WHERE Status='Active' AND City='Bengaluru'; -- AND condition

In [ ]:
SELECT * FROM CUSTOMERS_CRUD WHERE City IN ('Mumbai','Pune'); -- IN operator

In [ ]:
SELECT * FROM CUSTOMERS_CRUD WHERE CustomerID BETWEEN 2 AND 4; -- BETWEEN operator

In [ ]:
SELECT * FROM CUSTOMERS_CRUD WHERE CustomerName LIKE 'A%'; -- LIKE pattern matching

## 3) UPDATE
Modify existing rows in a table.

In [ ]:
SELECT * FROM CUSTOMERS_CRUD WHERE CustomerID=2; -- Before update

In [ ]:
UPDATE CUSTOMERS_CRUD SET City='Mumbai' WHERE CustomerID=2;

In [ ]:
SELECT * FROM CUSTOMERS_CRUD WHERE CustomerID=2; -- After update

## 4) DELETE
Remove rows from a table.

In [ ]:
SELECT * FROM CUSTOMERS_CRUD WHERE CustomerID=3; -- Before delete

In [ ]:
DELETE FROM CUSTOMERS_CRUD WHERE CustomerID=3;

In [ ]:
SELECT * FROM CUSTOMERS_CRUD WHERE CustomerID=3; -- After delete

In [ ]:
DELETE FROM CUSTOMERS_CRUD WHERE CustomerID=4; -- Delete row

## Cheat Sheet
| Operation | Command | Example | Notes |
|-----------|---------|---------|-------|
| CREATE    | INSERT  | `INSERT INTO Customers VALUES (1,'Arjun','Bengaluru','Active')` | Adds rows |
| READ      | SELECT  | `SELECT DISTINCT City FROM Customers` | Retrieves rows; `DISTINCT` removes duplicates; `WHERE` filters |
| UPDATE    | UPDATE  | `UPDATE Customers SET City='Mumbai' WHERE CustomerID=2` | Changes rows; use WHERE carefully |
| DELETE    | DELETE  | `DELETE FROM Customers WHERE CustomerID=3` | Removes rows; use WHERE carefully |
| ROLLBACK  | ROLLBACK| `ROLLBACK;` | Undoes uncommitted DML; not for DDL |