# SQL DDL Commands
This notebook demonstrates **DDL (Data Definition Language)** .

DDL commands include:
- ALTER TABLE (add, modify, drop columns)
- Add/Drop Constraints 
- DROP TABLE
- TRUNCATE TABLE
- RENAME

**Note:** DDL commands are auto-commit in Oracle and cannot be rolled back.

## 1) ALTER TABLE
Used to modify the structure of an existing table.

### a) Add Column

In [ ]:
DROP TABLE CUST_ALTER;

In [ ]:
CREATE TABLE CUST_ALTER (
    CustomerID NUMBER PRIMARY KEY,
    CustomerName VARCHAR2(50)
);

In [ ]:
DESC CUST_ALTER;

In [ ]:
ALTER TABLE CUST_ALTER ADD Phone VARCHAR2(15);

In [ ]:
DESC CUST_ALTER;

### b) Modify Column

In [ ]:
ALTER TABLE CUST_ALTER MODIFY Phone VARCHAR2(30);

In [ ]:
DESC CUST_ALTER;

### c) Drop Column

In [ ]:
ALTER TABLE CUST_ALTER DROP COLUMN Phone;

In [ ]:
DESC CUST_ALTER;

## 2) Add / Drop Constraints using ALTER TABLE

In [ ]:
DROP TABLE CUST_CONS;

In [ ]:
CREATE TABLE CUST_CONS (
    CustomerID NUMBER,
    CustomerName VARCHAR2(50)
);

In [ ]:
DESC CUST_CONS;

### a) Add Primary Key Constraint

In [ ]:
ALTER TABLE CUST_CONS ADD CONSTRAINT pk_cust PRIMARY KEY (CustomerID);

In [ ]:
DESC CUST_CONS;

### b) Drop Primary Key Constraint

In [ ]:
ALTER TABLE CUST_CONS DROP CONSTRAINT pk_cust;

In [ ]:
DESC CUST_CONS;

## 3) DROP TABLE
Deletes the entire table structure and data. Cannot be recovered.

### Example

In [ ]:
DROP TABLE ORDERS_DROP;

In [ ]:
CREATE TABLE ORDERS_DROP (
    OrderID NUMBER,
    OrderDate DATE
);

In [ ]:
DESC ORDERS_DROP;

In [ ]:
DROP TABLE ORDERS_DROP;

## 4) TRUNCATE TABLE
Deletes all rows from a table quickly. Table structure remains.

### Example

In [ ]:
DROP TABLE ORDERS_TRUNC;

In [ ]:
CREATE TABLE ORDERS_TRUNC (
    OrderID NUMBER,
    OrderDate DATE
);

In [ ]:
INSERT ALL
  INTO ORDERS_TRUNC VALUES (101, DATE '2025-01-10')
  INTO ORDERS_TRUNC VALUES (102, DATE '2025-01-11')
SELECT * FROM dual;

In [ ]:
SELECT * FROM ORDERS_TRUNC;

In [ ]:
TRUNCATE TABLE ORDERS_TRUNC;

In [ ]:
SELECT * FROM ORDERS_TRUNC;

## 5) RENAME TABLE
Used to rename a table.

### Example

In [ ]:
DROP TABLE CUST_RENAME;

In [ ]:
CREATE TABLE CUST_RENAME (
    CustomerID NUMBER,
    CustomerName VARCHAR2(50)
);

In [ ]:
DESC CUST_RENAME;

In [ ]:
RENAME CUST_RENAME TO CUST_RENAME_NEW;

In [ ]:
DESC CUST_RENAME_NEW;

## Cheat Sheet
| Command  | Purpose | Syntax Example | Notes |
|----------|---------|----------------|-------|
| ALTER    | Change structure | `ALTER TABLE t ADD col VARCHAR2(20)` | Add/modify/drop columns & constraints |
| DROP     | Delete table | `DROP TABLE t` | Deletes structure & data |
| TRUNCATE | Remove all rows | `TRUNCATE TABLE t` | Faster than DELETE, cannot rollback |
| RENAME   | Rename object | `RENAME old TO new` | Works on tables, views, synonyms |