### UPPER Function
The `UPPER` function converts a string to uppercase.

In [ ]:
SELECT UPPER('today is a wonderful day') FROM DUAL;

### LOWER Function
The `LOWER` function converts a string to lowercase.

In [ ]:
SELECT LOWER('TODAY IS A WONDERFUL DAY') FROM DUAL;

### INITCAP Function
The `INITCAP` function capitalizes the first letter of each word in a string.

In [ ]:
SELECT INITCAP('today is a wonderful day') FROM DUAL;

### LENGTH Function
The `LENGTH` function returns the number of characters in a string.

In [ ]:
SELECT LENGTH('AB CD') FROM DUAL;

In [ ]:
SELECT ENAME FROM EMP WHERE LENGTH(ENAME) = 5;

### SUBSTR Function
The `SUBSTR` function extracts a substring from a string, starting at a given position, with an optional length.

In [ ]:
SELECT SUBSTR('ABCDEF', 2, 3) FROM DUAL;

In [ ]:
SELECT SUBSTR('ABCDEF', 2) FROM DUAL;

In [ ]:
SELECT SUBSTR('ABCDEF', -1) FROM DUAL;

In [ ]:
SELECT SUBSTR('ABCDEF', -1, 1) FROM DUAL;

In [ ]:
SELECT SUBSTR('ABCDEF', -3, 3) FROM DUAL;

In [ ]:
SELECT SUBSTR('ABCDEF', -3, 2) FROM DUAL;

In [ ]:
SELECT * FROM EMP WHERE SUBSTR(ENAME, 2, 2) = 'LA';

### INSTR Function
The `INSTR` function returns the position of a substring within a string.

In [ ]:
SELECT INSTR('ABC*D', '*') FROM DUAL;

In [ ]:
SELECT INSTR('ABDCDEF', 'DC') FROM DUAL;

### LPAD Function
The `LPAD` function pads the left side of a string with a specified character up to a given length.

In [ ]:
SELECT LPAD('ABCD', 10, '*') FROM DUAL;

In [ ]:
SELECT LPAD('AB', 10, '*') FROM DUAL;

### RPAD Function
The `RPAD` function pads the right side of a string with a specified character up to a given length.

In [ ]:
SELECT RPAD('ABCD', 10, '*') FROM DUAL;

In [ ]:
SELECT RPAD('AB', 10, '*') FROM DUAL;

### LTRIM Function
The `LTRIM` function removes leading spaces or specified characters from a string.

In [ ]:
SELECT LENGTH('             ABC                ') FROM DUAL;

In [ ]:
SELECT LTRIM('             ABC                '), LENGTH(LTRIM('             ABC                ')) AS LENGTH_AFTER_LTRIM FROM DUAL;

In [ ]:
SELECT LTRIM('******ABC********', '*') FROM DUAL;

### RTRIM Function
The `RTRIM` function removes trailing spaces or specified characters from a string.

In [ ]:
SELECT RTRIM('             ABC                '), LENGTH(RTRIM('             ABC                ')) AS LENGTH_AFTER_RTRIM FROM DUAL;

In [ ]:
SELECT RTRIM('******ABC********', '*') FROM DUAL;

### TRIM Function
The `TRIM` function removes leading and trailing spaces or specified characters from a string.

In [ ]:
SELECT TRIM('             ABC                '), LENGTH(TRIM('             ABC                ')) AS LENGTH_AFTER_TRIM FROM DUAL;

In [ ]:
SELECT TRIM('*' FROM '******ABC********') FROM DUAL;

### REPLACE Function
The `REPLACE` function replaces occurrences of a substring with another substring.

In [ ]:
SELECT 'ENTRY', REPLACE('ENTRY', 'TRY', 'TER') FROM DUAL;

In [ ]:
SELECT JOB, REPLACE(JOB, 'SALESMAN', 'MARKETING') FROM EMP;