### Introduction to Aggregate Functions
Aggregate functions operate on a set of rows and return a single value. Common aggregate functions include:
- `MAX()`
- `MIN()`
- `SUM()`
- `AVG()`
- `COUNT()`

In [ ]:
SELECT SAL FROM EMP;

### MAX Function
The `MAX` function returns the highest value in a column.

In [ ]:
SELECT MAX(SAL) FROM EMP;

### MIN Function
The `MIN` function returns the lowest value in a column.

In [ ]:
SELECT MIN(SAL) FROM EMP;

### SUM Function
The `SUM` function returns the total of all values in a column.

In [ ]:
SELECT SUM(SAL) FROM EMP;

### AVG Function
The `AVG` function returns the average of values in a column.

In [ ]:
SELECT AVG(SAL) FROM EMP;

### COUNT Function
The `COUNT` function counts rows or column values.
- `COUNT(*)` counts all rows.
- `COUNT(column)` counts non-NULL values.

In [ ]:
SELECT COUNT(*) FROM EMP;

In [ ]:
SELECT COUNT(ENAME) FROM EMP;

In [ ]:
SELECT COUNT(SAL) FROM EMP;

In [ ]:
SELECT COUNT(COMM) FROM EMP;

### DISTINCT with COUNT
The `DISTINCT` keyword ensures only unique values are considered.

In [ ]:
SELECT DEPTNO FROM EMP;

In [ ]:
SELECT DISTINCT DEPTNO FROM EMP;

In [ ]:
SELECT COUNT(DISTINCT DEPTNO) FROM EMP;

In [ ]:
SELECT COUNT(DISTINCT(DEPTNO)) FROM EMP;

### NVL with Aggregates
Using `NVL` ensures NULL values are replaced before aggregation.

In [ ]:
SELECT AVG(NVL(COMM, 0)) FROM EMP;

### GROUP BY Clause
The `GROUP BY` clause divides rows into groups for aggregation.

**Rules for GROUP BY:**
1. Every column in the SELECT list that is not inside an aggregate function must appear in the GROUP BY clause.
2. Columns used in GROUP BY need not appear in SELECT.
3. Cannot use column aliases in GROUP BY.
4. GROUP BY happens before aggregates are calculated.

In [ ]:
SELECT DEPTNO, COUNT(*) FROM EMP GROUP BY DEPTNO;

In [ ]:
SELECT JOB, COUNT(*) FROM EMP GROUP BY JOB;

In [ ]:
SELECT DEPTNO, MIN(SAL), MAX(SAL) FROM EMP GROUP BY DEPTNO;

In [ ]:
SELECT DEPTNO FROM EMP GROUP BY DEPTNO;

In [ ]:
SELECT DEPTNO, ENAME FROM EMP GROUP BY DEPTNO, ENAME;

In [ ]:
SELECT DEPTNO, JOB, SUM(SAL) FROM EMP GROUP BY DEPTNO, JOB;

In [ ]:
SELECT SUM(SAL) FROM EMP GROUP BY DEPTNO;

In [ ]:
SELECT SUM(SAL) FROM EMP;

In [ ]:
SELECT DEPTNO, SUM(SAL) FROM EMP GROUP BY DEPTNO;

### HAVING Clause
The `HAVING` clause filters groups after aggregation.

**Rules for HAVING:**
1. HAVING is applied after GROUP BY and aggregates are computed.
2. WHERE filters rows before grouping, HAVING filters groups after grouping.
3. You can use aggregate functions inside HAVING.

In [ ]:
SELECT DEPTNO, COUNT(*) FROM EMP GROUP BY DEPTNO HAVING COUNT(*) > 3;

### ORDER BY Clause
The `ORDER BY` clause sorts the results.

**Rules for ORDER BY:**
1. ORDER BY is the last clause executed.
2. You can order by column names, aliases, or column positions.
3. Default order is ASC (ascending). Use DESC for descending.
4. ORDER BY works with grouped and aggregated results.

In [ ]:
SELECT DEPTNO, COUNT(*) FROM EMP GROUP BY DEPTNO HAVING COUNT(*) > 3 ORDER BY COUNT(*) ASC;