# 📘 HR Database – Solutions

This notebook contains the SQL solutions for the HR schema use cases.

#### 🔹 Use Case 1
> **Describe all the tables** available in the HR schema and explain how the tables are related to each other.

In [ ]:
SELECT table_name FROM user_tables;

#### 🔹 Use Case 2
> Retrieve the **last name** and **email** of all employees.

In [ ]:
DESC employees;

In [ ]:
SELECT last_name, email
FROM employees;

#### 🔹 Use Case 3
> Retrieve **all columns** from the `departments` table.

In [ ]:
SELECT *
FROM departments;

#### 🔹 Use Case 4
> Retrieve the **last name, first name, salary**, and **salary + 300** as an incremented salary from the `employees` table.

In [ ]:
SELECT last_name, first_name, salary, salary+300
FROM employees;

In [ ]:
SELECT last_name AS "lname", first_name AS "fname", salary AS "sal", salary+300 AS "incr sal"
FROM employees;

#### 🔹 Use Case 5
> Retrieve the **last name, salary, commission percentage, and annual salary** of employees.  
> Formula:  
> `annual_salary = (salary + (commission_pct * salary)) * 12`

In [ ]:
SELECT last_name, salary, commission_pct, ((salary + (commission_pct*salary))*12) AS annual_salary
FROM employees;

In [ ]:
SELECT last_name, salary, commission_pct, ((salary + (NVL(commission_pct,0)*salary))*12) AS annual_salary
FROM employees;

#### 🔹 Use Case 6
> Find the **IDs of departments** in which employees are working.

In [ ]:
SELECT DISTINCT department_id FROM employees;

#### 🔹 Use Case 7
> Display the **last name, job ID, and department ID** of the employee whose last name is **Whalen**.

In [ ]:
SELECT last_name, job_id, department_id
FROM employees
WHERE last_name = 'Whalen';

#### 🔹 Use Case 8
> Retrieve the **last name** and **salary** of all employees who have a **salary greater than 5000** and work in **department 90**.

In [ ]:
SELECT last_name, salary
FROM employees
WHERE salary > 5000
AND department_id = 90;

#### 🔹 Use Case 9
> Retrieve the **last name, salary, and hire date** of all employees working in departments **60** and **90** who were hired **after 1-JAN-07**.  
> Sort the data so that the **most recently hired employees** appear first.

In [ ]:
SELECT last_name, salary, hire_date
FROM employees
WHERE department_id IN (60,90) AND hire_date > '1-JAN-07'
ORDER BY hire_date DESC;

In [ ]:
SELECT commission_pct
FROM employees
ORDER BY commission_pct;

#### 🔹 Use Case 10
> Retrieve the **last name** and **salary** of all employees working as **SA_REP** or **AD_PRES** with a **salary greater than 5000**.  
> Sort the results in **ascending order of last name**.

In [ ]:
SELECT last_name, salary
FROM employees
WHERE job_id IN ('SA_REP','AD_PRES')
AND salary > 5000
ORDER BY last_name;

#### 🔹 Use Case 11
> Retrieve the **last names** of employees whose **second-last character** in their last name is **e**.

In [ ]:
SELECT last_name
FROM employees
WHERE last_name LIKE '%e_';

#### 🔹 Use Case 12
> Retrieve the **salary and last name** of all employees whose **manager_id** is **100, 101, or 201**.

In [ ]:
SELECT salary, last_name
FROM employees
WHERE manager_id IN (100,101,201);

#### 🔹 Use Case 13
> Retrieve the **salary and last name** of all employees whose **salary** is between **5000 and 10000**.

In [ ]:
SELECT salary, last_name
FROM employees
WHERE salary >= 5000 AND salary <= 10000;

In [ ]:
SELECT salary, last_name
FROM employees
WHERE salary BETWEEN 5000 AND 10000;

#### 🔹 Use Case 14
> Retrieve the **names of employees** who **do not have managers**.

In [ ]:
SELECT last_name, first_name
FROM employees
WHERE manager_id IS NULL;

In [ ]:
SELECT last_name, first_name
FROM employees
WHERE manager_id = NULL; -- This will not return any rows