# Analytical Functions

### Group Functions
Aggregate salary by department using GROUP BY.

In [ ]:
SELECT deptno, AVG(sal) FROM emp GROUP BY deptno;

### Analytical Functions with OVER
Show average salary alongside each employee using PARTITION BY.

In [ ]:
SELECT deptno, AVG(sal) OVER () FROM emp;

In [ ]:
SELECT deptno, AVG(sal) OVER (PARTITION BY deptno) FROM emp;

### ROW_NUMBER
Assign unique row numbers to employees within each department ordered by salary.

In [ ]:
SELECT deptno, ename, sal, ROW_NUMBER() OVER (PARTITION BY deptno ORDER BY sal DESC) AS r FROM emp;

### RANK
Assign ranks allowing gaps when salaries are tied.

In [ ]:
SELECT deptno, ename, sal, RANK() OVER (PARTITION BY deptno ORDER BY sal DESC) AS r FROM emp;

### DENSE_RANK
Assign ranks without gaps when salaries are tied.

In [ ]:
SELECT deptno, ename, sal, DENSE_RANK() OVER (PARTITION BY deptno ORDER BY sal DESC) AS r FROM emp;

### Second Highest Salary per Department
Use DENSE_RANK to find the 2nd highest salary in each department.

In [ ]:
SELECT * FROM (SELECT deptno, ename, sal, DENSE_RANK() OVER (PARTITION BY deptno ORDER BY sal DESC) AS r FROM emp) WHERE r = 2;