### EXISTS Operator in Oracle SQL

The **EXISTS** operator in Oracle SQL is used to test whether a subquery returns any rows. It returns `TRUE` if the subquery returns at least one row, and `FALSE` if the subquery returns no rows.

In [ ]:
SELECT 'TRUE' AS exists_check
FROM dual
WHERE EXISTS (SELECT 1 FROM dual);

The following query tries to use `EXISTS` in the `SELECT` list.  
This works in some databases (like PostgreSQL), but **not in Oracle**.

In [ ]:
SELECT EXISTS (SELECT 1 FROM dual) AS exists_check
FROM dual;

### Departments with Employees
This query displays departments that have at least one employee.

In [ ]:
SELECT d.deptno, d.dname, d.loc
FROM dept d
WHERE EXISTS (SELECT * FROM emp e WHERE e.deptno = d.deptno);

### Departments without Employees
Using `NOT EXISTS` to find departments that have no employees.

In [ ]:
SELECT d.deptno, d.dname, d.loc
FROM dept d
WHERE NOT EXISTS (SELECT * FROM emp e WHERE e.deptno = d.deptno);

### Employees Who Are Managers
This query finds employees whose `empno` appears as a manager (`mgr`) for someone else.

In [ ]:
SELECT e1.empno, e1.ename, e1.job
FROM emp e1
WHERE EXISTS (SELECT * FROM emp e2 WHERE e2.mgr = e1.empno);