# Views in Oracle

### Simple Views
A simple view is created from a single table without complex logic.

In [ ]:
SELECT * FROM emp;

In [ ]:
CREATE VIEW deptno20 AS SELECT * FROM emp WHERE deptno = 20;

In [ ]:
SELECT * FROM deptno20;

In [ ]:
INSERT INTO deptno20(ename, sal, deptno) VALUES ('Arjun', 8000, 20);

In [ ]:
SELECT * FROM deptno20;

### Aggregate Views
Views can be used with aggregate functions such as COUNT, SUM, and GROUP BY.

In [ ]:
CREATE VIEW count_per_dept AS SELECT deptno, COUNT(*) AS cnt FROM emp GROUP BY deptno;

In [ ]:
SELECT * FROM count_per_dept;

In [ ]:
SELECT text FROM user_views WHERE view_name = 'COUNT_PER_DEPT';

### Complex Views
A complex view may include joins, aggregate functions, and subqueries.

In [ ]:
CREATE VIEW emp_above_avg_sal AS
SELECT e.ename, e.sal
FROM emp e
JOIN (SELECT AVG(sal) AS avg_sal FROM emp) a
  ON e.sal > a.avg_sal;

In [ ]:
SELECT * FROM emp_above_avg_sal;

In [ ]:
SELECT text FROM user_views WHERE view_name = 'EMP_ABOVE_AVG_SAL';

### Read-Only Views
These views prevent DML operations like INSERT, UPDATE, or DELETE.

In [ ]:
CREATE VIEW deptno20_read_only AS SELECT * FROM emp WHERE deptno = 20 WITH READ ONLY;

In [ ]:
SELECT * FROM deptno20_read_only;

In [ ]:
INSERT INTO deptno20_read_only(ename, sal, deptno) VALUES ('Priya', 9000, 20); -- ORA-42399

### Checking View Metadata
The `USER_VIEWS` dictionary contains information about views created by the current user.

In [ ]:
SELECT * FROM user_views;

In [ ]:
SELECT view_name, text FROM user_views;

### Effect of Dropping Base Table
If the base table is dropped, the view definition remains in the dictionary but becomes invalid.

In [ ]:
DROP TABLE dep;

In [ ]:
SELECT * FROM v1; -- Fails because base table is dropped