# Set Operators

### UNION
Combine rows from two queries while removing duplicates, also automatically sorts the resultset

In [ ]:
SELECT job FROM emp WHERE deptno = 10 UNION SELECT job FROM emp WHERE deptno = 20;

### UNION ALL
Combine rows from two queries, returns unique + duplicate data, no automatic sorting of resultset

In [ ]:
SELECT job FROM emp WHERE deptno = 10 UNION ALL SELECT job FROM emp WHERE deptno = 20;

### INTERSECT
Return only the rows common to both queries.

In [ ]:
SELECT job FROM emp WHERE deptno = 10 INTERSECT SELECT job FROM emp WHERE deptno = 20;

### MINUS
Return rows from the first query that are not in the second query.

In [ ]:
SELECT job FROM emp WHERE deptno = 10 MINUS SELECT job FROM emp WHERE deptno = 20;