# Composite Primary Key in Oracle

### Introduction
A **composite primary key** is a primary key that consists of two or more columns. It enforces uniqueness across the combination of columns, not individually.

### Creating a Table with Composite Primary Key
Here, `(order_id, product_id)` together form the primary key. This ensures that the same product cannot be inserted twice in the same order.

In [ ]:
CREATE TABLE order_items (
    order_id    NUMBER,
    product_id  NUMBER,
    quantity    NUMBER,
    CONSTRAINT pk_order_items PRIMARY KEY (order_id, product_id)
);

### Inserting Valid Records
Each `(order_id, product_id)` pair must be unique. Same `order_id` or `product_id` can repeat individually, as long as the combination is unique.

In [ ]:
INSERT INTO order_items VALUES (1, 101, 2);  -- Order 1, Product 101
INSERT INTO order_items VALUES (1, 102, 5);  -- Order 1, Product 102 (allowed, order repeats)
INSERT INTO order_items VALUES (2, 101, 3);  -- Order 2, Product 101 (allowed, product repeats)

### Attempting Duplicate Insert
This will fail because `(1, 101)` already exists, violating the composite key constraint.

In [ ]:
INSERT INTO order_items VALUES (1, 101, 10); -- ORA-00001: unique constraint violated

### Checking Metadata
Use the data dictionary views to verify the composite primary key definition.

In [ ]:
SELECT constraint_name, constraint_type, table_name
FROM user_constraints
WHERE table_name = 'ORDER_ITEMS';

In [ ]:
SELECT constraint_name, column_name, position
FROM user_cons_columns
WHERE table_name = 'ORDER_ITEMS';