# Case Expressions

### CASE Expressions
Categorize employees into salary ranges using CASE.

In [ ]:
SELECT ename,
       sal,
       CASE 
           WHEN sal < 1000 THEN 'Low Salary'
           WHEN sal BETWEEN 1000 AND 3000 THEN 'Average Salary'
           WHEN sal IN (3100, 3200, 3500, 3800) THEN 'High Salary'
           ELSE 'Other Salary'
       END AS salary_category
FROM emp;