# Demonstrating Database Locks in Oracle SQL

This notebook demonstrates how **database locks** work in Oracle SQL. We will use two separate sessions (Session A and Session B) to see how row-level locking works.

⚠️ Important: To observe locks in action, you must run Session A and Session B commands in **two different SQL*Plus windows or terminals**.

### Step 1: Setup Demo Table
Create a simple `bank_accounts` table and insert some data.

In [ ]:
CREATE TABLE bank_accounts (
    acc_id   NUMBER PRIMARY KEY,
    acc_name VARCHAR2(50),
    balance  NUMBER
);

INSERT INTO bank_accounts VALUES (1, 'Arjun', 5000);
INSERT INTO bank_accounts VALUES (2, 'Priya',   3000);
COMMIT;

SELECT * FROM bank_accounts;

### Step 2: Session A - Acquire a Lock
Session A locks a row using `FOR UPDATE`. Do not COMMIT or ROLLBACK yet.

In [ ]:
-- Session A
SELECT * FROM bank_accounts WHERE acc_id = 1 FOR UPDATE;

### Step 3: Session B - Attempt Update
Session B tries to update the same row. This will hang until Session A releases the lock.

In [ ]:
-- Session B
UPDATE bank_accounts SET balance = balance - 500 WHERE acc_id = 1;

### Step 4: Release the Lock
Now go back to Session A and commit or rollback. Session B's statement will complete once the lock is released.

In [ ]:
-- Session A
COMMIT;

### Step 5: Verify Result
Check the updated balances after releasing the lock.

In [ ]:
SELECT * FROM bank_accounts;