## SQL Assignments — CUSTOMER_ORDERS Schema

1. Query the **ORDER_ITEMS** table in the **CUSTOMER_ORDERS** schema to return records where the quantity is above 4 and the unit price is above 49.

2. From the **ORDER_ITEMS** table in the **CUSTOMER_ORDERS** schema return a column called `line_item_amount` that is the unit_price multiplied by the quantity for each record. (Return all other columns as well.)

   Round the `line_item_amount` column to 1 decimal place.

3. Query the **CUSTOMERS** table in the **CUSTOMER_ORDERS** schema and return the full_name column along with another column that returns the first name only from the full_name column, alias this as **first_name**.

   In your query add another column that returns the middle and last names only, alias this as **last_name**.

   Add another column called **formatted_name** that returns the full name in the format: last_name, first_name e.g. “R Goffredo, Scotty”.

4. From the **ORDERS** table in the **CUSTOMER_ORDERS** schema return all of the columns AND return 3 additional columns extracting the below information from the **order_datetime** column:

   • The day of the week (e.g. “Wednesday”) aliased as **day_of_week**
   • The month name (e.g. “January”) aliased as **month_name**
   • The 4 digit year (e.g. 2023) aliased as **year**

   Filter the results to include only the orders that occurred on Saturday.

5. Use the **ORDER_ITEMS** table in the **CUSTOMER_ORDERS** schema to return a result that displays the total number of orders (using an aggregate function) for each distinct **customer_id**.

   Alias the aggregate function expression as **total_orders** and sort the result in descending order of this column.

6. Use the **CUSTOMERS** table in the **CUSTOMER_ORDERS** schema to return a result that shows the most common first names of individuals.

   Order the result from most common to least common names.

7. Use the **ORDER_ITEMS** table in the **CUSTOMER_ORDERS** schema to return a result that shows the Top 10 orders by total order amount for each distinct **order_id**.

8. For this assignment we will use the **CUSTOMER_ORDERS** schema.

   Using SQL find out the names of the top 10 customers in terms of order frequency. Only count the orders where the **order_status** is ‘COMPLETE’.

   *Note: You can alias the columns however you like.*

9. Use the **CUSTOMER_ORDERS** schema create a view in the same schema called **VW_PRODUCT_SALES** that shows the number of units sold for each product by year.

   Your view should contain a column showing the product name, year of sale and the quantity sold.

   Your view should only include records with an **order_status** of ‘COMPLETE’ (i.e. exclude records with an **order_status** of ‘CANCELLED’ or ‘REFUNDED’).

   Your solution should combine information from the **orders**, **order_items** and **products** tables.

   *Note: You can alias the columns however you like.*

10. Use the **CUSTOMER_ORDERS** schema create a view in the same schema called **VW_STORE_SALES** that shows the sales revenue for each store by month and order status.

    Your view should contain a column showing the store name, order status, month and year (e.g. 2022-07) and the sales revenue for each store.

    Your solution should combine information from the **orders**, **order_items** and **stores** tables.

    *Note: You can alias the columns however you like.*