# 📘 Working with HR Schema

In this exercise, we will solve the following use cases on the **HR sample database**.  
Each requirement is given below as a separate task.

#### 🔹 Use Case 1
> **Describe all the tables** available in the HR schema and explain how the tables are related to each other.

#### 🔹 Use Case 2
> Retrieve the **last name** and **email** of all employees.

#### 🔹 Use Case 3
> Retrieve **all columns** from the `departments` table.

#### 🔹 Use Case 4
> Retrieve the **last name, first name, salary**, and **salary + 300** as an incremented salary from the `employees` table.

#### 🔹 Use Case 5
> Retrieve the **last name, salary, commission percentage, and annual salary** of employees.  
> Formula:  
> `annual_salary = (salary + (commission_pct * salary)) * 12`

#### 🔹 Use Case 6
> Find the **IDs of departments** in which employees are working.

#### 🔹 Use Case 7
> Display the **last name, job ID, and department ID** of the employee whose last name is **Whalen**.

#### 🔹 Use Case 8
> Retrieve the **last name** and **salary** of all employees who have a **salary greater than 5000** and work in **department 90**.

#### 🔹 Use Case 9
> Retrieve the **last name, salary, and hire date** of all employees working in departments **60** and **90** who were hired **after 1-JAN-07**.  
> Sort the data so that the **most recently hired employees** appear first.

#### 🔹 Use Case 10
> Retrieve the **last name** and **salary** of all employees working as **SA_REP** or **AD_PRES** with a **salary greater than 5000**.  
> Sort the results in **ascending order of last name**.

#### 🔹 Use Case 11
> Retrieve the **last names** of employees whose **second-last character** in their last name is **e**.

#### 🔹 Use Case 12
> Retrieve the **salary and last name** of all employees whose **manager_id** is **100, 101, or 201**.

#### 🔹 Use Case 13
> Retrieve the **salary and last name** of all employees whose **salary** is between **5000 and 10000**.

#### 🔹 Use Case 14
> Retrieve the **names of employees** who **do not have managers**.